@charset "UTF-8";

@font-face {
    font-family: 'passion-one';
    src: url('fonts/PassionOne-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'sriracha';
    src: url('fonts/Sriracha-Regular.ttf') format(trutype);
}

:root {
    --font01: 'passion-one';
    --font02: 'sriracha';
}

* {
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #777676;
}

p {
    font-family: var(--font02);
    font-size: 2em;
}
header.titulo {
    background-color: #000;
    height: 300px;
    color: #fff;

    position: relative;
}

div.conteudo {
    color: #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

header > div > h1 {
    text-decoration: none;
    font-family: var(--font01);
    font-weight: lighter;
    font-size: 5em;
    color: #fff;
}

header > p {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box-branco {
    background-color: #fff;
    height: 500px;
    padding: auto;
    box-shadow: 2px 2px 7px #000000a6;
}
