@charset "UTF-8";

@font-face {
    font-family: 'passion-one';
    src: url('fonts/PassionOne-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'sriracha';
    src: url('fonts/Sriracha-Regular.ttf') format(trutype);
}

:root {
    --font01: 'passion-one';
    --font02: 'sriracha';
    --font03: Verdana, Geneva, Tahoma, sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    font-family: var(--font03);
    min-height: 100vh;
    background-color: #777676;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;

    position: relative;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;

    font-family: var(--font01);
    font-weight: lighter;
    font-size: 10vh;
    color: #fff;
}

header > p {
    padding-bottom: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-family: var(--font02);
    font-size: 2vw;
} 

section > p {
    padding-bottom: 2em;
}

section.normal {
    background-color: #fff;
    color: #000;
}

section.imagem {
    background-color: #777676;
    color: #fff;
    box-shadow: inset 6px 6px 13px 0px #00000096;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p {
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.253);
    color: #fff;
    text-shadow: 1px 1px 0px #000;
}

section#img01 {
    background-image: url('imagens/background001.jpg');
    background-position: right center;
}

section#img02 {
    background-image: url('imagens/background002.jpg');
}


footer {
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
}