@charset "UTF-8";

@font-face {
    font-family: 'passion-one';
    src: url('fonts/PassionOne-Regular.ttf') format(truetype);
}
@font-face {
    font-family: 'sriracha';
    src: url('fonts/Sriracha-Regular.ttf') format(trutype);
}

:root {
    --font01: 'passion-one';
    --font02: 'sriracha';
}

* {
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: #777676;
}

header {
    background-color: #000;
    color: #fff;
    text-align: center;

    position: relative;
}

header > h1 {
    padding-top: 50px;
    font-variant: small-caps;

    font-family: var(--font01);
    font-weight: lighter;
    font-size: 5em;
    color: #fff;
}

header > p {
    padding-bottom: 50px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

header a, footer a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

header a:hover, footer a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;

} 

section.normal {
    background-color: #fff;
    color: #000;
}

section.imagem {
    background-color: #2e2e2e;
    color: #fff;
}

section.imagem > p {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.253);
}



footer {
    padding: 10px;
    background-color: #000;
    color: #fff;
    text-align: center;
}